In [1]:
from datamart.augment import Augment
from datamart.utilities.utils import Utils
import pandas as pd
import json

In [2]:
es_index = "datamart_all"

augment = Augment(es_index=es_index)

#### Read the supply dataset

In [3]:
old_df = pd.read_csv("./example/fifa_example/fifa.csv")
print(old_df.iloc[:10, :])

   d3mIndex  GameID        Date          Team      Opponent  \
0         0       0  14-06-2018        Russia  Saudi Arabia
1         1       1  14-06-2018  Saudi Arabia        Russia
2         2       2  15-06-2018         Egypt       Uruguay
3         3       3  15-06-2018       Uruguay         Egypt
4         4       4  15-06-2018       Morocco          Iran
5         5       5  15-06-2018          Iran       Morocco
6         6       6  15-06-2018      Portugal         Spain
7         7       7  15-06-2018         Spain      Portugal
8         8       8  16-06-2018        France     Australia
9         9       9  16-06-2018     Australia        France

   Ball Possession %  Off-Target  Blocked  Offsides  Saves  Pass Accuracy %  \
0                 40           3        3         3      0               78
1                 60           3        3         1      2               86
2                 43           3        2         1      3               78
3                 57           6        4         1      3               86
4                 64           6        4         0      2               86
5                 36           5        1         0      2               86
6                 39           2        3         1      2               87
7                 61           5        2         3      0               93
8                 51           4        3         0      1               87
9                 49           2        1         0      4               85

   Passes  Distance Covered (Kms)  Yellow & Red  Man of the Match  1st Goal  \
0     306                     118             0                 1      12.0
1     511                     105             0                 0       NaN
2     395                     112             0                 0       NaN
3     589                     111             0                 1      89.0
4     433                     101             0                 0       NaN
5     194                     100             0                 1      90.0
6     366                     102             0                 0       4.0
7     727                     103             0                 1      24.0
8     484                     103             0                 1      58.0
9     390                     111             0                 0      62.0

         Round PSO  Goals in PSO  Own goals
0  Group Stage  No             0        NaN
1  Group Stage  No             0        NaN
2  Group Stage  No             0        NaN
3  Group Stage  No             0        NaN
4  Group Stage  No             0        1.0
5  Group Stage  No             0        NaN
6  Group Stage  No             0        NaN
7  Group Stage  No             0        NaN
8  Group Stage  No             0        NaN
9  Group Stage  No             0        1.0

#### Datamart finds named entity column for query

In [4]:
for col in old_df:
    if Utils.is_column_able_to_query(old_df[col]):
        print(col)

Team
Opponent
Round
PSO

#### Query by named entity column and specified string

In [5]:
query_string = "fifa"

query_result = augment.query(
    col=old_df['Team'],
    query_string=query_string
)
print("Team column matched:", len(query_result))

Team column matched: 1

In [6]:
print([x["_source"]["datamart_id"] for x in query_result])

[127860000]

#### Show the metadata hitted

In [7]:
print(json.dumps(query_result[0], indent=2))

{
  "_index": "datamart_all",
  "_type": "_doc",
  "_id": "127860000",
  "_score": 32.552834,
  "_source": {
    "datamart_id": 127860000,
    "title": "FIFA World Cup",
    "description": "FIFA World Cup",
    "url": "https://www.football-data.org",
    "keywords": [
      "football",
      "competition"
    ],
    "provenance": {
      "source": "www.football-data.org"
    },
    "materialization": {
      "python_path": "football_match_materializer",
      "arguments": {
        "uri": "/v2/competitions/2000/matches?limit=999",
        "token": "d019bc4541c9490fabcba6806cbcc42b"
      }
    },
    "variables": [
      {
        "datamart_id": 127860001,
        "name": "id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: id, dtype: int64"
      },
      {
        "datamart_id": 127860002,
        "name": "season_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: season_id, dtype: int64"
      },
      {
        "datamart_id": 127860003,
        "name": "season_startDate",
        "semantic_type": [
          "https://metadata.datadrivendiscovery.org/types/Time"
        ],
        "description": "column name: season_startDate, dtype: object"
      },
      {
        "datamart_id": 127860004,
        "name": "season_endDate",
        "semantic_type": [
          "https://metadata.datadrivendiscovery.org/types/Time"
        ],
        "description": "column name: season_endDate, dtype: object"
      },
      {
        "datamart_id": 127860005,
        "name": "season_currentMatchday",
        "semantic_type": [],
        "description": "column name: season_currentMatchday, dtype: int64"
      },
      {
        "datamart_id": 127860006,
        "name": "utcDate",
        "semantic_type": [
          "https://metadata.datadrivendiscovery.org/types/Time"
        ],
        "temporal_coverage": {
          "start": "2018-06-14T15:00:00+00:00",
          "end": "2018-07-15T15:00:00+00:00"
        },
        "description": "column name: utcDate, dtype: object"
      },
      {
        "datamart_id": 127860007,
        "name": "status",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "description": "column name: status, dtype: object"
      },
      {
        "datamart_id": 127860008,
        "name": "matchday",
        "semantic_type": [],
        "description": "column name: matchday, dtype: float64"
      },
      {
        "datamart_id": 127860009,
        "name": "stage",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "description": "column name: stage, dtype: object"
      },
      {
        "datamart_id": 127860010,
        "name": "group",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "description": "column name: group, dtype: object"
      },
      {
        "datamart_id": 127860011,
        "name": "lastUpdated",
        "semantic_type": [
          "https://metadata.datadrivendiscovery.org/types/Time"
        ],
        "temporal_coverage": {
          "start": "2018-06-22T10:00:01+00:00",
          "end": "2018-07-15T20:00:01+00:00"
        },
        "description": "column name: lastUpdated, dtype: object"
      },
      {
        "datamart_id": 127860012,
        "name": "score_winner",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "description": "column name: score_winner, dtype: object"
      },
      {
        "datamart_id": 127860013,
        "name": "score_duration",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "description": "column name: score_duration, dtype: object"
      },
      {
        "datamart_id": 127860014,
        "name": "score_fullTime_homeTeam",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: score_fullTime_homeTeam, dtype: int64"
      },
      {
        "datamart_id": 127860015,
        "name": "score_fullTime_awayTeam",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: score_fullTime_awayTeam, dtype: int64"
      },
      {
        "datamart_id": 127860016,
        "name": "score_halfTime_homeTeam",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: score_halfTime_homeTeam, dtype: int64"
      },
      {
        "datamart_id": 127860017,
        "name": "score_halfTime_awayTeam",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: score_halfTime_awayTeam, dtype: int64"
      },
      {
        "datamart_id": 127860018,
        "name": "score_extraTime_homeTeam",
        "semantic_type": [],
        "description": "column name: score_extraTime_homeTeam, dtype: float64"
      },
      {
        "datamart_id": 127860019,
        "name": "score_extraTime_awayTeam",
        "semantic_type": [],
        "description": "column name: score_extraTime_awayTeam, dtype: float64"
      },
      {
        "datamart_id": 127860020,
        "name": "score_penalties_homeTeam",
        "semantic_type": [],
        "description": "column name: score_penalties_homeTeam, dtype: float64"
      },
      {
        "datamart_id": 127860021,
        "name": "score_penalties_awayTeam",
        "semantic_type": [],
        "description": "column name: score_penalties_awayTeam, dtype: float64"
      },
      {
        "datamart_id": 127860022,
        "name": "homeTeam_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: homeTeam_id, dtype: int64"
      },
      {
        "datamart_id": 127860023,
        "name": "homeTeam_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Egypt",
          "Uruguay",
          "Colombia",
          "Argentina",
          "Tunisia",
          "France",
          "Korea Republic",
          "Panama",
          "Iceland",
          "Mexico",
          "Croatia",
          "England",
          "Switzerland",
          "Poland",
          "Serbia",
          "Saudi Arabia",
          "Spain",
          "Belgium",
          "Costa Rica",
          "Australia",
          "Russia",
          "Senegal",
          "Brazil",
          "Iran",
          "Denmark",
          "Japan",
          "Portugal",
          "Nigeria",
          "Germany",
          "Sweden",
          "Peru",
          "Morocco"
        ],
        "description": "column name: homeTeam_name, dtype: object"
      },
      {
        "datamart_id": 127860024,
        "name": "awayTeam_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: awayTeam_id, dtype: int64"
      },
      {
        "datamart_id": 127860025,
        "name": "awayTeam_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Uruguay",
          "Egypt",
          "Colombia",
          "Argentina",
          "Tunisia",
          "France",
          "Korea Republic",
          "Panama",
          "Iceland",
          "Mexico",
          "England",
          "Croatia",
          "Switzerland",
          "Serbia",
          "Poland",
          "Saudi Arabia",
          "Spain",
          "Belgium",
          "Costa Rica",
          "Australia",
          "Russia",
          "Senegal",
          "Brazil",
          "Iran",
          "Denmark",
          "Japan",
          "Portugal",
          "Nigeria",
          "Germany",
          "Sweden",
          "Peru",
          "Morocco"
        ],
        "description": "column name: awayTeam_name, dtype: object"
      },
      {
        "datamart_id": 127860026,
        "name": "referees_0_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_0_id, dtype: int64"
      },
      {
        "datamart_id": 127860027,
        "name": "referees_0_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Bj\u00f6rn Kuipers",
          "Enrique C\u00e1ceres",
          "Malang Di\u00e9dhiou",
          "Sandro Ricci",
          "N\u00e9stor Pitana",
          "Mohammed Abdulla Hassan",
          "Matt Conger",
          "Jair Marrufo",
          "Sergey Karasev",
          "Antonio Mat\u00e9u",
          "Cl\u00e9ment Turpin",
          "Damir Skomina",
          "Wilmar Rold\u00e1n",
          "Alireza Faghani",
          "Gehad Grisha",
          "Milorad Ma\u017ei\u0107",
          "Nawaf Shukralla",
          "Gianluca Rocchi",
          "Andr\u00e9s Cunha",
          "C\u00e9sar Arturo Ramos",
          "Janny Sikazwe",
          "C\u00fcneyt \u00c7ak\u03b9r",
          "Ravshan Irmatov",
          "Szymon Marciniak",
          "Bakary Papa Gassama",
          "Felix Brych",
          "C\u00e9sar Ramos",
          "Mark Geiger",
          "Joel Aguilar"
        ],
        "description": "column name: referees_0_name, dtype: object"
      },
      {
        "datamart_id": 127860028,
        "name": "referees_0_nationality",
        "semantic_type": [],
        "description": "column name: referees_0_nationality, dtype: object"
      },
      {
        "datamart_id": 127860029,
        "name": "referees_1_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_1_id, dtype: int64"
      },
      {
        "datamart_id": 127860030,
        "name": "referees_1_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Bahattin Duran",
          "Joe Fletcher",
          "Jure Praprotnik",
          "Elenito Di Liberatore",
          "Pau Cebri\u00e1n",
          "Mohamed Ahmed Al Hammadi",
          "Marvin Torrentera",
          "Reza Sokhandan",
          "Abdukhamidullo Rasulov",
          "Corey Rockwell",
          "Redouane Achik",
          "Eduardo Cardozo",
          "Jerson dos Santos",
          "Nicol\u00e1s Tar\u00e1n",
          "Juan Pablo Belatti",
          "Mark Borsch",
          "Emerson Augusto De Carvalho",
          "Nicolas Danos",
          "Hern\u00e1n Maidana",
          "Sander van Roekel",
          "Jean-Claude Birumushahu",
          "Anton Averianov",
          "Djibril Camara",
          "Milovan Risti\u0107",
          "Pawe\u0142 Sokolnicki",
          "Simon Lount",
          "Yaser Tulefat",
          "Alexander Guzm\u00e1n",
          "Juan Zumba"
        ],
        "description": "column name: referees_1_name, dtype: object"
      },
      {
        "datamart_id": 127860031,
        "name": "referees_1_nationality",
        "semantic_type": [],
        "description": "column name: referees_1_nationality, dtype: object"
      },
      {
        "datamart_id": 127860032,
        "name": "referees_2_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_2_id, dtype: int64"
      },
      {
        "datamart_id": 127860033,
        "name": "referees_2_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Marcelo Carvalho Van Gasse",
          "Frank Anderson",
          "Tar\u0131k Ongun",
          "Stefan Lupp",
          "Waleed Ahmed Ali",
          "Abdelhak Etchiali",
          "Mauricio Espinosa",
          "Mauro Tonolini",
          "Roberto D\u00edaz",
          "Taleb Salem Al Marri",
          "Dalibor \u0110ur\u0111evi\u0107",
          "Juan Carlos Mora",
          "Juan Zorrilla",
          "Tomasz Listkiewicz",
          "Miguel \u00c1ngel Hern\u00e1ndez",
          "Erwin Zeinstra",
          "Zakhele Siwela",
          "Juan Pablo Belatti",
          "Tevita Makasini",
          "Jakhongir Saidov",
          "Christian de la Cruz",
          "Cyril Gringore",
          "Hern\u00e1n Maidana",
          "El Hadji Malick Samba",
          "Tikhon Kalugin",
          "Mohammadreza Mansouri",
          "Hasan Mohamed Al Mahri",
          "Robert Vukan",
          "Juan Zumba"
        ],
        "description": "column name: referees_2_name, dtype: object"
      },
      {
        "datamart_id": 127860034,
        "name": "referees_2_nationality",
        "semantic_type": [],
        "description": "column name: referees_2_nationality, dtype: object"
      },
      {
        "datamart_id": 127860035,
        "name": "referees_3_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_3_id, dtype: int64"
      },
      {
        "datamart_id": 127860036,
        "name": "referees_3_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Norbert Hauata",
          "John Pitti",
          "Bj\u00f6rn Kuipers",
          "Enrique C\u00e1ceres",
          "Malang Di\u00e9dhiou",
          "Sandro Ricci",
          "Mohammed Abdulla Hassan",
          "Matt Conger",
          "Mehdi Abid Charef",
          "Ry\u016bji Sat\u014d",
          "Abdelrahman Al Jassim",
          "Julio Bascu\u00f1\u00e1n",
          "Sergey Karasev",
          "Jair Marrufo",
          "Antonio Mat\u00e9u",
          "Cl\u00e9ment Turpin",
          "Damir Skomina",
          "Wilmar Rold\u00e1n",
          "Alireza Faghani",
          "Milorad Ma\u017ei\u0107",
          "Bamlak Tessema",
          "Nawaf Shukralla",
          "Gianluca Rocchi",
          "Andr\u00e9s Cunha",
          "C\u00e9sar Arturo Ramos",
          "Janny Sikazwe",
          "C\u00fcneyt \u00c7ak\u03b9r",
          "Bakary Papa Gassama",
          "Ricardo Montero"
        ],
        "description": "column name: referees_3_name, dtype: object"
      },
      {
        "datamart_id": 127860037,
        "name": "referees_3_nationality",
        "semantic_type": [],
        "description": "column name: referees_3_nationality, dtype: object"
      },
      {
        "datamart_id": 127860038,
        "name": "referees_4_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_4_id, dtype: int64"
      },
      {
        "datamart_id": 127860039,
        "name": "referees_4_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Hiroshi Yamauchi",
          "Bahattin Duran",
          "Massimiliano Irrati",
          "Felix Zwayer",
          "Jure Praprotnik",
          "Christian Schiemann",
          "Mauricio Espinosa",
          "Pau Cebri\u00e1n",
          "Mohamed Ahmed Al Hammadi",
          "Mauro Tonolini",
          "Marvin Torrentera",
          "Taleb Salem Al Marri",
          "Juan Carlos Mora",
          "Corey Rockwell",
          "Daniele Orsato",
          "Bertrand Brial",
          "Jerson dos Santos",
          "Nicol\u00e1s Tar\u00e1n",
          "Eduardo Cardozo",
          "Erwin Zeinstra",
          "Anouar Hmila",
          "Emerson Augusto De Carvalho",
          "Toru Sagara",
          "Sander van Roekel",
          "Danny Makkelie",
          "Anton Averianov",
          "Tikhon Kalugin",
          "Djibril Camara",
          "Hasan Mohamed Al Mahri",
          "Milovan Risti\u0107",
          "Yaser Tulefat",
          "Gabriel Victoria",
          "Alexander Guzm\u00e1n"
        ],
        "description": "column name: referees_4_name, dtype: object"
      },
      {
        "datamart_id": 127860040,
        "name": "referees_4_nationality",
        "semantic_type": [],
        "description": "column name: referees_4_nationality, dtype: object"
      },
      {
        "datamart_id": 127860041,
        "name": "referees_5_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_5_id, dtype: int64"
      },
      {
        "datamart_id": 127860042,
        "name": "referees_5_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Artur Soares Dias",
          "Mauro Vigliano",
          "Cl\u00e9ment Turpin",
          "Paolo Valeri",
          "Bastian Dankert",
          "Sandro Ricci",
          "Mark Borsch",
          "Carlos Astroza",
          "Felix Zwayer",
          "Massimiliano Irrati",
          "Szymon Marciniak",
          "Daniele Orsato",
          "Mark Geiger",
          "Tiago Martins",
          "Danny Makkelie",
          "Roberto D\u00edaz"
        ],
        "description": "column name: referees_5_name, dtype: object"
      },
      {
        "datamart_id": 127860043,
        "name": "referees_5_nationality",
        "semantic_type": [],
        "description": "column name: referees_5_nationality, dtype: object"
      },
      {
        "datamart_id": 127860044,
        "name": "referees_6_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_6_id, dtype: int64"
      },
      {
        "datamart_id": 127860045,
        "name": "referees_6_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Artur Soares Dias",
          "Bastian Dankert",
          "Carlos Astroza",
          "Joe Fletcher",
          "Felix Zwayer",
          "Tiago Martins",
          "Abdelrahman Al Jassim",
          "Jair Marrufo",
          "Roberto D\u00edaz",
          "Paolo Valeri",
          "Cl\u00e9ment Turpin",
          "Gery Vargas",
          "Corey Rockwell",
          "Daniele Orsato",
          "Cyril Gringore",
          "Hern\u00e1n Maidana",
          "Sander van Roekel",
          "Mauro Vigliano",
          "Pawe\u0142 Gil",
          "Pawe\u0142 Sokolnicki",
          "Wilton Pereira Sampaio"
        ],
        "description": "column name: referees_6_name, dtype: object"
      },
      {
        "datamart_id": 127860046,
        "name": "referees_6_nationality",
        "semantic_type": [],
        "description": "column name: referees_6_nationality, dtype: object"
      },
      {
        "datamart_id": 127860047,
        "name": "referees_7_id",
        "semantic_type": [
          "http://schema.org/Integer"
        ],
        "description": "column name: referees_7_id, dtype: int64"
      },
      {
        "datamart_id": 127860048,
        "name": "referees_7_name",
        "semantic_type": [
          "http://schema.org/Text"
        ],
        "named_entity": [
          "Artur Soares Dias",
          "Bastian Dankert",
          "Carlos Astroza",
          "Joe Fletcher",
          "Massimiliano Irrati",
          "Felix Zwayer",
          "Elenito Di Liberatore",
          "Tiago Martins",
          "Roberto D\u00edaz",
          "Paolo Valeri",
          "Gery Vargas",
          "Marvin Torrentera",
          "Taleb Salem Al Marri",
          "Corey Rockwell",
          "Tevita Makasini",
          "Mark Borsch",
          "Emerson Augusto De Carvalho",
          "Cyril Gringore",
          "Hern\u00e1n Maidana",
          "Nicolas Danos",
          "Sander van Roekel",
          "Danny Makkelie",
          "Mauro Vigliano",
          "Pawe\u0142 Gil",
          "Pawe\u0142 Sokolnicki",
          "Simon Lount",
          "Alexander Guzm\u00e1n"
        ],
        "description": "column name: referees_7_name, dtype: object"
      },
      {
        "datamart_id": 127860049,
        "name": "referees_7_nationality",
        "semantic_type": [],
        "description": "column name: referees_7_nationality, dtype: object"
      },
      {
        "datamart_id": 127860050,
        "name": "referees_8_id",
        "semantic_type": [
          "http://schema.org/Integer"

#### Materialize the dataset and show some lines

In [8]:
new_df = Utils.get_dataset(metadata=query_result[0]["_source"])
print(new_df.iloc[:10, :])

       id  season_id season_startDate season_endDate  season_currentMatchday  \
0  200000          1       2018-06-14     2018-07-15                       3
1  200001          1       2018-06-14     2018-07-15                       3
2  200006          1       2018-06-14     2018-07-15                       3
3  200007          1       2018-06-14     2018-07-15                       3
4  200012          1       2018-06-14     2018-07-15                       3
5  200018          1       2018-06-14     2018-07-15                       3
6  200013          1       2018-06-14     2018-07-15                       3
7  200019          1       2018-06-14     2018-07-15                       3
8  200024          1       2018-06-14     2018-07-15                       3
9  200030          1       2018-06-14     2018-07-15                       3

                utcDate    status  matchday        stage    group  \
0  2018-06-14T15:00:00Z  FINISHED       1.0  GROUP_STAGE  Group A
1  2018-06-15T12:00:00Z  FINISHED       1.0  GROUP_STAGE  Group A
2  2018-06-15T15:00:00Z  FINISHED       1.0  GROUP_STAGE  Group B
3  2018-06-15T18:00:00Z  FINISHED       1.0  GROUP_STAGE  Group B
4  2018-06-16T10:00:00Z  FINISHED       1.0  GROUP_STAGE  Group C
5  2018-06-16T13:00:00Z  FINISHED       1.0  GROUP_STAGE  Group D
6  2018-06-16T16:00:00Z  FINISHED       1.0  GROUP_STAGE  Group C
7  2018-06-16T19:00:00Z  FINISHED       1.0  GROUP_STAGE  Group D
8  2018-06-17T12:00:00Z  FINISHED       1.0  GROUP_STAGE  Group E
9  2018-06-17T15:00:00Z  FINISHED       1.0  GROUP_STAGE  Group F

            ...           referees_5_nationality referees_6_id  \
0           ...                             None         49527
1           ...                             None         43884
2           ...                             None         15746
3           ...                             None         11075
4           ...                             None         49487
5           ...                             None         55725
6           ...                             None         15746
7           ...                             None         11412
8           ...                             None         43854
9           ...                             None         11412

          referees_6_name  referees_6_nationality  referees_7_id  \
0          Mauro Vigliano                    None          49528
1          Cyril Gringore                    None          43854
2         Bastian Dankert                    None          43876
3            Paolo Valeri                    None          49528
4          Hernán Maidana                    None          15713
5            Joe Fletcher                    None          43854
6         Bastian Dankert                    None          43876
7  Wilton Pereira Sampaio                    None          49487
8               Paweł Gil                    None          43884
9  Wilton Pereira Sampaio                    None          49528

   referees_7_name  referees_7_nationality  referees_8_id    referees_8_name  \
0   Carlos Astroza                    None          11116     Daniele Orsato
1        Paweł Gil                    None           9374     Clément Turpin
2      Mark Borsch                    None          55667       Jair Marrufo
3   Carlos Astroza                    None          11116     Daniele Orsato
4    Tiago Martins                    None          55667       Jair Marrufo
5        Paweł Gil                    None          18127        Gery Vargas
6      Mark Borsch                    None          43899     Danny Makkelie
7   Hernán Maidana                    None          43540  Artur Soares Dias
8   Cyril Gringore                    None          43540  Artur Soares Dias
9   Carlos Astroza                    None          55724        Mark Geiger

   referees_8_nationality
0                    None
1                    None
2                    None
3                    None
4                    None
5                    None
6                    None
7                    None
8                    None
9                    None

[10 rows x 52 columns]

#### Columns useful for join

In [9]:
print(old_df[["Date", "Team", "Opponent"]].iloc[:10, :])

         Date          Team      Opponent
0  14-06-2018        Russia  Saudi Arabia
1  14-06-2018  Saudi Arabia        Russia
2  15-06-2018         Egypt       Uruguay
3  15-06-2018       Uruguay         Egypt
4  15-06-2018       Morocco          Iran
5  15-06-2018          Iran       Morocco
6  15-06-2018      Portugal         Spain
7  15-06-2018         Spain      Portugal
8  16-06-2018        France     Australia
9  16-06-2018     Australia        France

In [10]:
print(new_df[["utcDate", "homeTeam_name", "awayTeam_name"]].iloc[:10, :])

                utcDate homeTeam_name awayTeam_name
0  2018-06-14T15:00:00Z        Russia  Saudi Arabia
1  2018-06-15T12:00:00Z         Egypt       Uruguay
2  2018-06-15T15:00:00Z       Morocco          Iran
3  2018-06-15T18:00:00Z      Portugal         Spain
4  2018-06-16T10:00:00Z        France     Australia
5  2018-06-16T13:00:00Z     Argentina       Iceland
6  2018-06-16T16:00:00Z          Peru       Denmark
7  2018-06-16T19:00:00Z       Croatia       Nigeria
8  2018-06-17T12:00:00Z    Costa Rica        Serbia
9  2018-06-17T15:00:00Z       Germany        Mexico

#### Default join for current datamart

In [11]:
df = augment.join(left_df=old_df,
                  right_df=new_df,
                  left_columns=[[old_df.columns.tolist().index(x)] for x in ["Team", "Opponent"]],
                  right_columns=[[new_df.columns.tolist().index(x)] for x in ["homeTeam_name", "awayTeam_name"]])

df.to_csv("./example/fifa_example/augmented.csv", index=False)

### Because of the supplied dataset has two rows for one single game.
### Current simple default join can not augment both of them. 
### ISI is working on some sophasticate join which should be able to handle cases not limited to this

In [ ]:
print("\n - try to join:")
joined_df = augment.join(
    left_df=old_df,
    right_df=new_df,
    left_columns=[[old_df.columns.tolist().index(x)] for x in ["Team", "Opponent"]],
    right_columns=[[new_df.columns.tolist().index(x)] for x in ["homeTeam_name", "awayTeam_name"]],      
    left_metadata=None,
    right_metadata=query_result[0]["_source"],
    joiner="rltk"
)
print(joined_df)